<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthhistory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ResetarSenhaActivity"></activity>
        <activity android:name=".activity.CriarRetornoActivity" />
        <activity android:name=".activity.CriarExameActivity" />
        <activity android:name=".activity.CriarConsultaActivity" />
        <activity android:name=".activity.AgendaActivity" />
        <activity android:name=".activity.RetornosActivity" />
        <activity android:name=".activity.TratamentosActivity" />
        <activity android:name=".activity.ResultadosActivity" />
        <activity android:name=".activity.ExamesActivity" />
        <activity
            android:name=".activity.ConsultasActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthhistory.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ConfiguracaoActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthhistory.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.CriarContaActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthhistory.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>